<template name="ipsumPage">
  	
  	<div id="ipsumGenerator">
		<div class="ipsum">
	    	<div class="ipsum-content">

	      		<h1 class="bottomBuffer h1-font">
	      			{{title}}
	      		</h1>
	      		
	      		<h2 class="bottomBuffer h2-font">
	      			A finely crafted ipsum by {{author}}
	      		</h2>

	      		<p class="bottomBuffer p-font">{{description}}</p>
			</div>

			<div id="ipsum-generator">
				<form role="form">
					<div class="">
					    <label for="numberParagraphs" class="h1-font">How many paragraphs?</label>
					    <input type="number" class="numberPicker" name="paragraphs" id="numberParagraphs" value="5">
					</div>

					<div>
					    <label for="paragraphFlavour" class="h1-font">Pick your flavour:</label>
					    <select class="optionPicker" id="paragraphFlavour" name="contentStyle">
						    <option value="latin">Classical Latin</option>
					        <option value="theme">Only My Words and Phrases, Please</option>
					    </select>
					</div>

					<div>
						<button type="submit" class="submit">Ipsum Me!</button>
					</div>
				</form>

				<div id="ipsum-canvas" class="p-font">
					<h1></h1>
					<div></div>
				</div>

			</div>
	    	
	    	<!-- <a href="{{pathFor 'ipsumPage'}}" class="discuss btn">Check Out Ipsum!</a> -->
	  	</div>
	</div>


</template>



