<template name="ipsumSubmit">

    <div class="createNewIpsum">

        <h2 class="h2-font">Let's get started:</h2>      
        <div>
            
            <form role="form">
              <div>
                <input type="text" class="input-text" id="ipsumTitle" name="title" placeholder="What do you want to call your Ipsum?">
              </div>
              <div>
                <input type="text" class="input-text" id="ipsumAuthor" name="author" placeholder="Your Name, Please">
              </div>
              <div>
                <textarea class="textarea textarea-sm" rows="2" id="ipsumDescription" name="description" placeholder="Describe Your Ipsum...."></textarea>
              </div>
              <div>
                <textarea class="textarea textarea-lg" rows="4" id="ipsumWordlist" name="wordList" placeholder="Add words and phrases. Make sure to separate each word or phrase with a comma!"></textarea>
              </div>
              <button class="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>  
</template>
