<template name="ipsumPage">
  	
  	<div id="ipsumGenerator">
		<div class="ipsum">
	    	<div class="ipsum-content">

	      		<h1 class="bottomBuffer">
	      			{{title}}
	      		</h1>
	      		
	      		<h4 class="bottomBuffer">
	      			Submitted by {{author}}
	      		</h4>
	      		

	      		<h4>Description:</h4> 
	      			<p class="bottomBuffer">{{description}}</p>
	      			

			
			</div>

			<div id="ipsum-generator">
				<h4>Generate Paragraphs:</h4>  
				

				<form role="form" id="ipsumForm">
				<div class="row">
					<div class="form-group col-md-3">
					    <label for="numberParagraphs">Number of paragraphs:</label>
					    <input type="number" class="form-control" name="paragraphs" id="numberParagraphs" value="5">
					</div>
				</div>

				<div class="row">

					<div class="form-group col-md-3">
					    <label for="paragraphFlavour">Paragraph flavour:</label>
					    <select class="form-control" id="paragraphFlavour" name="contentStyle">
						    <option value="latin">Theme w/Latin</option>
					        <option value="theme">Themed Words Only</option>
					    </select>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-3">
						<button type="submit" class="btn btn-default">Ipsum Me!</button>
					</div>
				</div>

				</form>


				<div id="ipsum-canvas">
					<h1>WORDS!!!</h1>
					<div clas="innerCanvas"></div>
				</div>

			</div>
	    	
	    	<!-- <a href="{{pathFor 'ipsumPage'}}" class="discuss btn">Check Out Ipsum!</a> -->
	  	</div>
	</div>


</template>



