<template name="ipsumPage">
  	
  	<div id="ipsumGenerator">
		<div class="ipsum">
	    	<div class="ipsum-content">

	      		<h2>
	      			<a href="{{pathFor 'ipsumPage'}}">{{title}}</a>
	      			<hr/>
	      		</h2>
	      		<h4>
	      			<span>Submitted by {{author}}</span>
	      		</h4>

	      		<p>
	      			{{description}}
	      		</p>
			
			</div>

			<div id="ipsum-generator">

				<form id="hipster-ipsum" action="/" method="get">
						Paragraphs:
							<input type="number" maxlength="2" name="paragraphs" value="5">
				
						Type:
							<select id="contentStyle" name="contentStyle">
								<option value="theme" selected="">Theme-only</option>
								<!-- <option value="theme-sentence" selected="">Themed sentence-structure.</option> -->
								<option value="latin" selected="">Theme/Latin Fuse</option>
							</select>
							
						<input type="submit" value="Give me words!">
				</form>

				<div id="ipsum-canvas">
					<h1 style="margin-top : 150px; margin-left: 200px">WORDS!!!</h1>
					<div clas="innerCanvas"></div>
				</div>

			</div>
	    	
	    	<!-- <a href="{{pathFor 'ipsumPage'}}" class="discuss btn">Check Out Ipsum!</a> -->
	  	</div>
	</div>


</template>



