@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,600,700|Josefin+Sans:400,700|Montserrat:400,700|Raleway:300,400,800);

@import url("sampleipsum.css");
@import url("ipsum_submit.css");

/*body * {
	border: 1px solid red;
	box-sizing: border-box;
}*/

body {
	padding: 0px;
	margin: 0px;
}

.h1-font {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 100%;
	color: darkgrey;
	margin: 0px;
}

.h2-font {
	font-family: 'Josefin Sans', sans-serif;
	color: grey;
	margin: 0px;
	line-height: 150%;
}

.p-font {
	font-family: 'Raleway', sans-serif;
	color: grey;
	line-height: 150%;
	font-weight: 300;
}

.new-ipsum {
	width: 80%;
	margin: 0 auto;
}

.yourem-ipsum {
	width: 40%;
	float: left;
	padding: 5%;
}

.creation-panel {
	width: 40%;
	float: left;
	padding: 5%;
}

footer {
	clear: both;
}